@font-face {
  font-family: CursedTimer;
  src: url(CursedTimerUlil-Aznm.ttf);
}

body {
  margin: 0;
  background-color: rgb(48, 48, 105);
}

.heading {
  display: flex;
  justify-content: space-around;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffff;
  margin: 10px;
}

h4 {
  font-family: CursedTimer;
  color: #f94f6d;
  font-size: 90px;
  text-align: center;
  background: #080000;
  border: 2px solid #080000;
  border-radius: 5px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  height: 120px;
  width: 120px;
  margin: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin: 5px;
}

button {
  font-family: CursedTimer;
  color: #9aabd8;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
  padding: 8px;
}
